src/main/mule/translate-slack-bot.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b0e20e1e-44d8-4245-aaef-5878fde3bedb" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="translate-slack-botFlow" doc:id="ede2220f-6dea-4aa3-8eb7-ba7284364496" >
		<http:listener doc:name="Listener" doc:id="f431b3dd-0281-4416-b03f-ec1d800ff91a" config-ref="HTTP_Listener_config" path="/slack"/>
		<logger level="INFO" doc:name="Logger" doc:id="86dcc65c-c0f8-4c53-be68-8fb088f36a35" message="#[payload.text]"/>
		<set-variable value="#[%dw 2.0
output application/json
---
payload.text]" doc:name="textToTranslate" doc:id="8fc60a21-e462-4874-aa22-c35f2076ee99" variableName="textToTranslate"/>
		<http:request method="POST" doc:name="Request" doc:id="bcbb4b32-2602-4ef7-9a89-2e9c2ff9f94d" url="http://api.cognitive.microsoft.com/sts/v1.0/issuetoken">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Ocp-Apim-Subscription-Key" : "456627d32fb347a3a4a0ad083dcede67"
}]]]></http:headers>
		</http:request>
		<set-variable value="#[payload]" doc:name="token" doc:id="3d261499-1cf4-4147-9210-2b5c3b64b1f5" variableName="token"/>
		<logger level="INFO" doc:name="Logger" doc:id="65c821b3-8cc8-4e1b-a395-e483baecb852" message="#[payload]"/>
		<http:request method="POST" doc:name="Request" doc:id="4cacf546-3a01-46e2-acb7-bfe4b13cc677" url="https://api.cognitive.microsofttranslator.com/translate?api-version=3.0&amp;to=es">
			<http:body ><![CDATA[#[%dw 2.0
output application/json
---
[{
	"Text": vars.textToTranslate
}]]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.token,
	"Content-Type" : "application/json"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="6d6b21b3-478f-4125-a10f-642742acae63" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
payload.translations[0].text[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="cca106eb-296e-4390-80a2-3acfec326c72" message="#[payload]"/>
	</flow>
</mule>
